body{
  background-color: #5cdb95
}

.wrap{
  background: blue;
  width: 1200px;
  margin: 10px auto;
}

.wrap .header{
  background: green;
  padding: 2px 10px;
}

.wrap .menu{
  background: yellow;
}

.wrap .menu ul{
  padding: 0;
  margin: 0;
  background: yellow;
  overflow: hidden;
}

.wrap .menu ul li{
  float: left;
  list-style: none;
  padding: 10px;
}

.clear{
  clear: both;
}

.body{
  height: 450px;
}

.wrap .body .sidebar{
  background: orange;
  float: left;
  width: 25%;
  height: 100%;
}

.wrap .body .content{
  background: red;
  float: left;
  height: 100%;
  width: 75%;
}

.wrap .footer{
  width: 100%;
  padding: 10px;
}