body{
  background-color: white;
}

.wrap{
  background: white;
  width: 1200px;
  margin: 10px auto;
}

.wrap .header{
  background-attachment: fixed;
}

a{
  text-decoration: none;
  color: black;
}

.wrap .menu{
  background:  #ffc5a1;
  height: 50px;
}

.wrap .menu ul{
  padding: 0;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #ffc5a1;
}
.wrap .menu ul li{
  display: block;
  background:  #ffc5a1;
  font-family: sans-serif;
  float: left;
  margin: auto;
  list-style: none;
  padding: 15px;
}

.wrap .menu ul li:hover{
  background: wheat;
}

.body{
  height: 450px;
}

.wrap .body .sidebar{
  background: wheat;
  float: left;
  width: 25%;
  height: 100%;
}

.wrap .body .content{
  background:#ff8585;
  float: left;
  height: 100%;
  width: 75%;
}

.wrap .body .content .contentMain{
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imageProduct{
  border: #ffc5a1 9px solid;
  height: 250px; 
  width:360px; 
}

.aboutUs{
  font-family: sans-serif;
}

.wrap .footer{
  width: auto;
  background: #1c1852;
  padding: 10px;
}